<!doctype html>
<!war 太陽廢物>
<html lang="en-US">
<head>
<title>Web hacker level <%= level %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="sweetalert/dist/sweetalert.css" />
<script src="bootstrap/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="webSecurity/sweetalert7.min.js"></script>
</head>
<style>
button{
	border: none;
    text-align: center;
    display: inline-block;
}.btn-error{
	background-color: #f44336;
	color:white;
	padding:5px 10px;
}
#title-img{
	position:relative;
	top:-5px;
	left:5px;
	width:32px;
	height:32px;
}#pass{
	position:relative;
	top:0;
	left:0;
}
</style>
<script>
var pwd = '';

window.onload = function(){
	sweetAlert("Error!!", "Something went wrong!", "error");
}
function checkPassword(){
	//pwd = prompt("請輸入密碼");
}
</script>
<body>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img id="title-img" alt="Brand" src="webSecurity.png">
				</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
			</div>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a data-toggle="tab" href="/">遊戲中心 - Level <%= level %></a></li>
				<li><a href="javascript:swal({title: '開發者是大帥哥<3',text:'確定前往GitHub?' , showCancelButton: true, confirmButtonColor: '#28FF28', confirmButtonText: '前往', closeOnConfirm: false, imageUrl: 'sweetalert/example/images/thumbs-up.jpg'},function(){window.open('https://www.github.com/ZoneTwelve')});">開發者GitHub</a></li>
				<li><a href="javascript:alert('開發者是大帥哥 <3');">對不起我已經沒創意了</a></li>
			</ul>
			<!-- <ul class="nav navbar-nav navbar-right"> -->
				<!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li> -->
				<!-- <li><a href="#">Log out</a></li> -->
				<!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Admin</a></li> -->
			<!-- </ul> -->
		</div>
	</div>
</nav>         
<div class="jumbotron container">
	<div class="form-group">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<h4>Level <%= level %> - 新套件的測試</h4>
			<input type="text" class="form-control" id="pass" placeholder="密碼">
			<input type="button" class="btn btn-default" id="submit" value="登入">
			<button class="btn-error" onclick='sweetAlert("Error!!", "Something went wrong!", "error2");'>Error</button>
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>
</body>
</html>
