<!doctype html>
<!war 太陽廢物>
<html lang="en-US">
<head>
<title>Web hacker level <%= level %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<link rel="stylesheet" href="bootstrap//css/bootstrap.min.css">
<script src="bootstrap/js/jquery.min.js"></script></head>
<script src="bootstrap/js/bootstrap.min.js"></script></head>
<style>
#title-img{
	position:relative;
	top:-5px;
	left:5px;
	width:32px;
	height:32px;
}#pass{
	position:relative;
	top:0;
	left:0;
}
</style>
<script>
var pwd = '';
var time = 0;
setInterval(function(){
	var y = 10 * Math.sin((time/360)*(Math.PI*2));
	document.getElementById("pass").style.transform = "translate(0px,"+y+"px)";
	time++;
},5)

window.onload = function(){
	setup();
}
function setup(){
	document.getElementById("submit").onclick = function(){
		checkPassword();
	}
}

function checkPassword(){
	var pass = document.getElementById("ps").textContent;
	pwd = document.getElementById("pass").value;
	alert("您已經成為開發者的戰友");
	if(pass == pwd)
		location.href = "?level=6&&pass="+pwd;
}
</script>
<body>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img id="title-img" alt="Brand" src="webSecurity.png">
				</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
			</div>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a data-toggle="tab" href="/">遊戲中心 - Level <%= level %></a></li>
				<li><a href="javascript:alert('開發者是大帥哥<3');window.open('https://www.github.com/ZoneTwelve')">開發者GitHub</a></li>
				<li><a href="javascript:alert('開發者是大帥哥 <3');">對不起我已經沒創意了</a></li>
			</ul>
			<!-- <ul class="nav navbar-nav navbar-right"> -->
				<!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li> -->
				<!-- <li><a href="#">Log out</a></li> -->
				<!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Admin</a></li> -->
			<!-- </ul> -->
		</div>
	</div>
</nav>         
<div class="jumbotron container">
	<div class="form-group">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<h4>Level <%= level %> - 與太陽的戰爭</h4>
			<h6>備註:<b id="ps">太陽87</b></h6>
			<input type="text" class="form-control" id="pass" placeholder="*********">
			<input type="button" class="btn btn-default" id="submit" value="登入">
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>
</body>
</html>